*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

.Bg{
  background: url(./Componets/Assests/Bg.jpg);
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading{
  color: aliceblue;
}
.weatherResultBox{
  margin:auto ;
  width: 500px;
  height: 300px;
}
.WeatherCity{
  font-size: 35px;
}
.WeatherTemp{
  font-size: 45px;
  font-weight: 800;
}
.SearchBtn{
  width: 100px;
margin-left: 170px;
margin-right: 170px;
}